[core]
    pager = delta
	excludesfile = /Users/sairaj.chouhan/.config/git/ignore

[interactive]
    diffFilter = delta --color-only

# this is not just git delta config but whole of delta config
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    line-numbers = false
    syntax-theme = "tokyonight_night"

[push]
    autoSetupRemote = true
    default = current

[pull]
    default = current
    rebase = false

[user]
    email = mail@sairaj.me
    name = Sairaj Chouhan

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	cp = cherry-pick
  s = "switch"

[init]
  templatedir = /Users/sairaj.chouhan/.git-template
  defaultBranch = master

[includeIf "gitdir:/Users/sairaj.chouhan/cs/"]
  path = ~/.gitconfig-cs

[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[http]
	postBuffer = 524288000
