[core]
    pager = delta-auto
	excludesfile = /Users/sairaj.chouhan/.config/git/ignore

[interactive]
    diffFilter = delta-auto --color-only

# this is not just git delta config but whole of delta config.
# light/dark + syntax-theme are set per-invocation by the `delta-auto` wrapper
# (~/.local/bin/delta-auto) based on macOS system appearance.
[delta]
    navigate = true    # use n and N to move between diff sections
    line-numbers = false

[push]
    autoSetupRemote = true
    default = current

[pull]
    default = current
    rebase = false

[user]
    email = mail@sairaj.me
    name = Sairaj Chouhan

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	cp = cherry-pick
  s = "switch"

[init]
  templatedir = /Users/sairaj.chouhan/.git-template
  defaultBranch = master

[includeIf "gitdir:/Users/sairaj.chouhan/cs/"]
  path = ~/.gitconfig-cs

[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[http]
	postBuffer = 524288000
